layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    children
  }
  tab name="shell" {
    pane split_direction="vertical" {
      pane
      pane cwd="build"
    }
  }
  tab name="nvim" focus=true {
    pane command="nvim"
  }
}
